<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="yoghurt.savingdatasample.app" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="yoghurt.savingdatasample.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="yoghurt.savingdatasample.app.PreferenceActivity"
            android:label="@string/title_activity_preference" >
        </activity>
        <activity
            android:name="yoghurt.savingdatasample.app.FileAcitivity"
            android:label="@string/title_activity_file_acitivity" >
        </activity>
        <activity
            android:name="yoghurt.savingdatasample.app.DatabaseActivity"
            android:label="@string/title_activity_database" >
        </activity>
    </application>

</manifest>
